html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



.container-home { 
  max-width: 100vw;
  min-height: 100vh;
}

.index-video { 
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.menu-icon { 
  display: none;
}

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  z-index: -1;
}

.navBox { 
  background-color: black;
  opacity: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav { 
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  margin-right: 2rem;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.footer-text {
  display: flex;
  justify-content: end;
  width: 90%;
  color: white;
}

footer { 
  position: fixed;
  left: 0;
  bottom: 0;
}

h2 {
  margin-left: 2rem;
  color: white;
}

.list { 
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.list a{
  color: black;
}

.productBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.name {
  display: flex;
  justify-content: flex-start;
  color: white;
  flex-wrap: wrap;
  width: 80%;
  height: 30px;
}

.productName { 
  display: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.logo { 
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.container-estudio { 
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/background.jpg");
}

.container-mantenimiento { 
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/background1.jpg");
}

.container-acercade { 
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/background1.jpg");
  background-size: cover;
}
p { 
  width: 80%;
}

.container-staff {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  font-weight: 800;
  letter-spacing: 2px;
}

.list-staff { 
  margin: 0 5rem;
  text-align: left;
}

.list-staff h2 { 
  float: left;
  width: 20rem;
  font-size: 3.2rem;
  margin-right: 3rem;
}

.list-staff p { 
  font-size: 1.3rem;
  color: white;
  text-align: left;
}

.text-staff { 
  display: grid;
  justify-items: center;
  align-items: center;
}

.text-staff h2{
  font-size: 3.2rem;
}

.text-staff p{
  font-size: 1.3rem;
  color: white;
} 

.wrapper-acerca {
  display: grid;
  grid-template-columns: 12% 55% 35%;
  height: 80%;
}

.container-map img { 
  margin-top: 6rem;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.iconos img {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.text-box-contac {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  background-color: rgb(65, 65, 65);
  width: 70%;
  height: 70%;
}

.text-box-contac h2{
  margin-left: 0;
  margin-top: 1rem;
  font-size: 0.87rem;
}

.text-back-icons { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 96, 96);
  margin: 1rem;
  border-radius: 10px;
}

.iconos img:hover { 
  background-color: black;
}

.text-back { 
  background-color: rgb(96, 96, 96);
  margin: 0.4rem;
  padding: 0rem;
  border-radius: 10px;
  font-size: 0.87rem;
  text-align: center;
}

.container-productos-mantenimiento { 
  position: absolute;
  background-image: url("../public/background1.jpg");
  background-size: cover;
}

.container-productos-estudio { 
  position: absolute;
  background-image: url("../public/background.jpg");
  background-size: cover;
}

.photos-container { 
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  margin-bottom: 3rem;
  align-items: start;
}

.titulo { 
  font-size: 2rem;
  color: white;
  border-bottom: 1px white solid;
  width: 80%;
}

.photos { 
  margin-top: 4rem;
  width: 80%;
  margin-left: 23rem;

}

.big-photo img { 
  margin-top: 2rem;
  height: 40rem;
  width: 50rem;
  object-fit: cover ;
}

.text { 
  top: 50px;
  position: sticky;
  color: white;
  margin-top: 7rem;
  margin-top: 7rem;
  margin-right: 4rem;
  align-items:stretch
}

@media all and (max-width: 680px) {

  .wrapper-acerca {
    display: block;
  }

nav { 
  display: none;
}

.logo { 
  margin-left: 1rem;
}

.open { 
  background: black;
  display: block;
  position: absolute;
  width: 100%;
}

.menu-icon { 
    overflow: hidden;
    background-color: rgb(28, 28, 28);
    position: relative;
    display: block;
    padding-right: 1rem;
}

nav a { 
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.wrapper { 
  display: flex;
  justify-content: center;
}

.box { 
  padding-top: 3rem;
  text-align: center;
  width: 100%;
}

.productName { 
  display: block;
  color: white;
}

.photos { 
  margin-top: 0;
  margin-left: 0;
}

.titulo { 
  color: white;
  padding: 1rem;
  border-bottom: 1px white solid;
  width: 90%;
}

.photos-container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-photo img { 
  object-fit: cover;
  height: 18rem;
  width: 18rem;
  margin: 1rem;
}

.text { 
  display: none;
}
.container-estudio .wrapper { 
  flex-direction: column;
}

.container-map { 
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.container-map img { 
  margin-top: 0;
  width: 90%;
}

.iconos img {
  height: 50px;
  width: 50px;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.color-container { 
  display: flex;
  justify-content: center;
}

.text-box-contac { 
  border-radius: 1rem;
  width: 90%;
  margin-top: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.text-box-contac h2 {
  margin-top: 0;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.4rem;
}

.text-back { 
  background-color: rgb(96, 96, 96);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
}

.container-acercade { 
  width: 100%;
  background-image: url("../public/background1.jpg");
  background-size: cover;
}

.container-staff {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.list-staff { 
  margin-top: 2rem;
  color: white;
}

.text-staff { 
  margin-top: 2rem;
  color: white;
}

p { 
  width: 100%;
}

.text-staff p{
  font-size: 1rem;
}   

.text-staff h2{
  font-size: 2rem;
}

.list-staff p { 
  font-size: 1rem;
  color: white;
  text-align: center;
}

.list-staff { 
  margin: 0 0;
  text-align: center;
}

.list-staff h2 { 
  float: none;
  width: 100%;
  font-size: 2rem;
  margin-right: 0;
}

h2 {
  margin-left: 0;
}

}