html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.container-productos-estudio { 
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  background-image: url("../public/background.jpg");
  background-size: cover;
  /* opacity: 0.8; */
}

.container-acercade { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/background1.jpg");
  background-size: cover;
}

.container-productos-mantenimiento { 
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  background-image: url("../public/background1.jpg");
  background-size: cover;
  /* opacity: 0.8; */
}

.container-estudio { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../public/background.jpg");
  background-size: cover;
  /* opacity: 0.8; */
}
.container-mantenimiento { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../public/background1.jpg");
  background-size: cover;
  /* opacity: 0.8; */
}
.container-home { 
  width: 100%;
  height: 100%;
}

.wrapper { 
  right: 0;
}

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  z-index: -1;
}

.navBox { 
  position: relative;
  top: 0; 
  left: 0;
  margin-top: 1rem;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  width: 100%;
}

nav { 
  display: flex;
  /* background-color: black; */
  height: 3rem;
  align-items: center;
  justify-content: end;
  padding-right: 2rem;
  width: 80%;
  
}

h2 {
  margin-left: 2rem;
  cursor: pointer;
  color: white;
}



nav a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}
.list { 
  display: flex;
  justify-content: center;
  width: 100%;
}

.list a{
  color: black;
}

.productBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.name {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 30px;
  
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  height: 200px;
  /* border: solid black 1px; */
  width: 30%;
  justify-content: center;
  align-items: center;

}


h4 {
  display: flex;
  justify-content: end;
  width: 80%;
  color: white;
}

footer { 
  margin-top: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.logo a { 
  text-decoration: none;
  color: white;
}

@media all and (max-width: 420px) {
  nav { 
  height: 4rem;
  padding-right: 0.5rem;
  color:aliceblue;
  }

}

.photos-container { 
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  margin-bottom: 3rem;
  align-items: start;

}

.titulo { 
  font-size: 2rem;
  color: white;
  border-bottom: 1px white solid;
  width: 50rem;
}

.photos { 
  margin-top: 4rem;
  width: 80%;
  margin-left: 23rem;
  /* border: 2px white solid; */

}

.big-photo img { 
  margin-top: 2rem;
  height: 40rem;
  width: 50rem;
  object-fit: cover ;
}

.images { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 3rem;
}

.images img { 
  height: 6.5rem;
  width: 6.5rem;
  margin: 6px 0 1rem  1rem;
  object-fit: cover;
  /* border: 1px white solid; */
  outline: 1px rgb(157, 157, 157) solid;
  outline-offset: 5px;
}

.text { 
  top: 50px;
  position: sticky;
  color: white;
  margin-top: 7rem;
  margin-top: 7rem;
  margin-right: 4rem;
  align-items:stretch
}

p { 
  width: 80%;
}

.container-staff {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  font-weight: 800;
  letter-spacing: 2px;
}

.list-staff { 
  margin: 0 5rem;
  text-align: left;
}

.list-staff h2 { 
  float: left;
  width: 20rem;
  font-size: 3.2rem;
  margin-right: 3rem;
}

.list-staff p { 
  font-size: 1.3rem;
  color: white;
  text-align: left;
}


.text-staff { 
  display: grid;
  justify-items: center;
  align-items: center;
  /* margin: 0 4rem; */
}

.text-staff h2{
  font-size: 3.2rem;
}

.text-staff p{
  font-size: 1.3rem;
  color: white;
}

.small-img  {
  cursor: pointer;
}

.container-map {
  display: grid;
  grid-template-columns: 12% 55% 35%;
  height: 80%;
}

.img-box img {
  margin-top: 6rem;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.text-box-contac {
  margin-top: 6rem;
  background-color: rgb(65, 65, 65);
  width: 65%;
  height: 70%;
}

.text-box-contac h2{
  margin-top: 1.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.5rem;
}

.text-back-icons { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 96, 96);
  margin: 1rem;
  border-radius: 10px;
}

.iconos img {
  height: 50px;
  width: 50px;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.iconos img:hover {
  height: 50px;
  width: 50px;
  margin: 1rem;
  background-color: rgb(37, 211, 102);
  border-radius: 10px;
}

.text-back {
  background-color: rgb(96, 96, 96);
  margin: 1rem;
  border-radius: 10px;
}

